<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Django Scenario-1</title>
  </head>
  <body>
    <h1>Django Test Scenario-1</h1>
    <form>
      <label for="server">Server Name</label>
      <input id="server" type="text" name="" value="">
      <br>
      <br>
      <label for="user">Username</label>
      <input id="user" type="text" name="" value="">
      <br>
      <br>
      <label for="password">Password</label>
      <input id="password" type="text" name="" value="">
      <br>
      <br>
      <label for="input">Unix Command Input:</label>
      <input id="input" type="text" name="" value="">
      <br>
      <br>
      <input type="submit" name="" value="Submit">

      <div class="container">
        <div class="jumbotron">
          <div class="container">
            <h1>Unix Command Output :</h1>
            <textarea style="width : 100%" name="name" rows="30" cols="30"></textarea>
          </div>

        </div>

      </div>

    </form>
  </body>
</html>
